@charset "utf-8";

/* ********************

 Global

 ******************** */
*, *:before, *:after {
    outline: none;
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
html {
    width: 100vw;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:auto;
  color: #444;
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brute */
  /* max-height:100%; */
  overflow:hidden;
  font-family: 'Nunito Sans', Verdana, sans-serif;
}


/* ********************

 Typographie

 ******************** */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
p, address {font-size:1em;line-height:1.6em;font-weight:400;}
a {font-size:1em; line-height:1.6em;font-weight:400; color:#666;text-decoration: underline;}
a:hover {text-decoration: none;}
h1, h2, h3, h4 {font-family: 'Spectral', Georgia, serif;}
h1 {text-transform:uppercase;font-weight:800;}
h2 {font-weight:700;}
h3 {font-weight:700;}
strong {font-weight: bold; color: #EECDA4;}
em {font-style: italic; color: #EECDA4;}






h1 { font-size: 2em; line-height: 1.5em;}
h1 span, h2 span, h3 span { font-size : 60%;}
h2 { font-size: 1.4em; }
h3
{
    font-size:1.2em;
    line-height: 2.4em;
    margin-bottom:0px;
}
h2 span, h3 span, h4 span, p span {color:#777;}

section {
  width:50%;
  margin: 1em auto;
}
.news
{
    border-bottom: 1px dotted #000;
    padding: 2em 0;
}

#post-comments {
  border-top: 1px dashed #ccc;
  margin-top: 4em;
  padding-top: 2em;
}
.content-comment {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background: #eee;
}
form {
  width: 100%;
  margin: 2em auto;
  padding: 1em;
  background: rgba(100, 100, 100, 0.1);
}
fieldset {
  position: relative;
  border: none;
}
label {
  color: rgba(0, 0, 0, 0.5);
  transform-origin: left;
  transition: all 0.3s ease;
}
input, textarea {
  width: 100%;
  margin-top: 10px;
  background: rgba(100, 100, 100, 0.1);
}

#main_header {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FBDEB9;
  color: #666;
}
#main_navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #d4d4d4;
  width: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#main_navigation ul {
  list-style: none;
  margin: 0;
  padding:0;
}
#main_navigation ul li {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1.5em;
  margin-right:1.5em;
  padding-top: 10px;
  border-top: 4px solid #fbdeb9;
}
#header {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FBDEB9;
  color: #666;
}
#header_content {
  padding-left: 4.5em;
}

#home-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}
#list-news {
  width: 70%;
}
#image_home {
  display: flex;
  margin: 0 auto;
}
#image_home img {
  width: 50vw;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#layout-post {
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow-y: scroll;
    height: 100vh;
    width: 70%;
}
