@charset "utf-8";


/* ********************
 SOMMAIRE
=======================
 1. Base
 2. Typography
 3. Structure / Layout
 4. Navigation
 5. Composent
 6. Form
 7. Backoffice
 8. Responsive
 --- Mobile (max-width 479px)
 --- Tablet / Small displays (min-width: 480px) and (max-width: 959px)
 --- Medium / Large displays (min-width: 1919px)
 --- HD 4K displays (min-width: 2559px)
 --- Print
 ******************** */



/* ********************

 BASE

 ******************** */
*, *:before, *:after {
    outline: none;
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
html {
    width: 100vw;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:auto;
  color: #444;
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brute */
  overflow:hidden;
  font-family: 'Nunito Sans', Verdana, sans-serif;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}


/* ********************

 Typography

 ******************** */
@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
/* Rules for sizing the icon. */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


p, address {font-size:1em;line-height:1.6em;font-weight:400; color:#666;}
a {font-size:1em; line-height:1.6em;font-weight:400; color:#555;text-decoration: underline;}
a:hover {text-decoration: none;}
strong {font-weight: bold; color: #EEA852;}
em {font-style: italic;}

h2, h3, h4 {font-family: 'Spectral', Georgia, serif; color: #555;}
h1 {font-family: 'Consolas', 'Courier New', monospace; text-transform:uppercase;font-weight:800; color: #555;}
h1, h1 a { font-size: 1.5em; line-height: 1.5em;}
h1 span, h2 span { font-size : 60%;}
h3 span { font-size : 70%;}
h2 {font-weight:700; font-size: 1.4em; line-height: 2.4em; margin-bottom:0px;}
h3, h3 a {font-weight:700; font-size:1.2em;}
h3 a, .news h3 a {font-weight:700; font-size:1em; line-height: 1em; font-family: 'Spectral', Georgia, serif; color: #555; text-decoration: none;}
h2 span, h4 span, p span {color:#777;}
h3 span, h3 a span {color:#555;}
article h2 {margin-top:3em; line-height: 1.5em;}
#layout-post header h2, #layout header h2 {
  font-family: 'Consolas', 'Courier New', monospace;; color: #555;text-transform:uppercase;font-weight:800;font-size: 1.5em; line-height: 1.5em;
}

.big-chars {
  font-size:1.4em;
  font-weight: 100;
  line-height: 1.5em;
  font-family: "Spectral", Georgia, serif;
}
.big-chars > span {font-size:100%;}

.validate {
  background: #69ce69;
  color:  #094f03;
  padding: 0 1em;
}

footer ul li, footer p, footer a {
  color: #444;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: .9em;
}


/* ********************

 Structure / Layout

 ******************** */
section {
 width:80%;
 margin: 1em auto;
}
#layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments, section#content, #layout section#content {
 width: 60%;
 margin: 1em auto;
}
#layout-post section {
 width:80%;
}
#layout-post header, #dashbord-grid header, #layout header {
 border-bottom: 1px solid #ccc;
 padding-bottom: 2em;
}
.news {
 padding: 2em 0;
}
.news ul {
 padding-left: 1em;
 line-height: 2em;
}
#post-comments {
 border-top: 1px dashed #ccc;
 margin-top: 0;
 margin-bottom: 4em;
}
.content-comment {
 margin-top: 1em;
 margin-bottom: 1em;
 padding: .5em 1em;
 background: #eee;
}
#main_header {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #666;
  background: #FBDEB9;
  background: linear-gradient(0deg,
    rgba(247,238,227,1) 0%,
    rgba(251,222,185,1) 9%,
    rgba(244,200,145,1) 86%,
    rgba(251,222,185,1) 100%);
}
#header {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color:#444;
  background: rgb(247,238,227);
  background: linear-gradient(0deg, rgba(247,238,227,1) 0%, rgba(251,222,185,1) 9%, rgba(244,200,145,1) 86%, rgba(251,222,185,1) 100%);
}
#header_content {
  padding-left: 2em;
  display: flex;
  flex-direction: column-reverse;
}
#header_content #container {
  display:flex;
  border-bottom: 1px solid #ccc;
}
#home-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
}
#list-news {
  width: 70%;
}
#layout-post, #layout {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  overflow-y: scroll;
  height: 100vh;
  width: 70%;
}
#layout-connexion {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  height: 100vh;
  overflow-y: scroll;
}
#layout-connexion section {
  width: 50%;
  padding: 0 3em;
}
#posts-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#posts-grid .news {
  width: 40%;
  margin: 0 3em 1em 0;
}
#layout-post #posts-grid {
  margin: 1em auto;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
}



/* ********************

 Navigation

 ******************** */
#main_navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  padding-left: 3em;
  left: -2em;
  position: relative;
  border-bottom: 2px solid #fff;
  font-weight: 600;
}
#main_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main_navigation ul li {
  padding-right: 1em;
  font-family: "Courier New", Courier, monospace;
  font-size: .8em;
}
#main_navigation a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
#nav {
  font-size: .8em;
  font-family: "Courier New", Courier, monospace;
}
#nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
#nav ul li {
  padding-right: 1em;
}
#nav a {
  font-weight: 600;
}
.news a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}



/* ********************

 Composents

 ******************** */
img {
  max-width: 100%;
  height: auto;
}
.list-center {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.meta-content:first-child {
  border-left: 4px solid #fbdeb9;
  padding-left: 10px;
  color: #444;
}
#header_content img {
  width: 100px;
  height: auto;
  margin-right:1em;
}
figure#logo, figure#photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure#logo img {
  width: 60%;
}
figure#photo img {
  width: 80%;
}
.circle {
  border-radius: 50%;
}
figcaption {
  font-size: 60%;
}
#image_home {
  display: flex;
  margin: 0 auto;
}
#image_home img {
  width: 50vw;
}
footer ul {
  list-style: none;
  padding-left: 1em;
}
footer ul li {
  display:inline-block;
  padding-right: 1em;
}



/* ********************

 Form

 ******************** */
form {
  margin: 2em auto;
  width: 100%;
}
fieldset {
  position: relative;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
fieldset abbr {
  color: #f78686;
}
label.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
}
input, textarea {
  width: 100%;
  margin-top: 0;
  padding: .5em 0 .5em .5em;
  font-size: 1em;
  background: rgba(234, 232, 232, 0.1);
  border:0;
  border-bottom: 2px solid #fbb9b9;
  border-left: 2px solid #fbb9b9;
}
input#agreement {
  width: auto;
}
input[type="submit"] {
  display: inline-block;
  width: auto;
  padding: .5em 1.5em;
  cursor: pointer;
  background: #252525;
  color: #ccc;
}



/* *************************************************************
*************************** BACKOFFICE *************************
***************************************************************/
#main_navigation_backend {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:#FBB9B9;
  color:#666;
}
#dashbord-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 75%;
  height: 100vh;
  overflow-y: scroll;
}
#backend_navigation {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}
#backend_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 3em;
  font-size: 80%;
}
#backend_navigation ul li {
  display: block;
  font-size: 1.4em;
}
#backend_navigation ul .submenu {
  font-size: .7em;
  padding-left: 1.2em;
}
.admin-content {
  list-style: none;
  padding-left: 0;
  border-top: 1px dashed #ccc;
  font-size: .8em;
}
.admin-content li {
  display: inline-block;
  margin-right: .5em;
}
.news ul.admin-content {
  padding-left:0;
}
.admin-link {
  list-style: none;
  padding-left: 0;
  font-size: .8em;
}
.admin-link li {
  display: inline-block;
  margin-right: 1em;
}
#backend_navigation ul li#title_nav {
  font-size: 3em;
  text-transform: lowercase;
  margin: .5em 0;
}
#header_dashbord {
  min-height: 20vh;
  padding: 1em 0 1em 0;
}


/* *************************************************************
*************************** RESPONSIVE *************************
***************************************************************/
@media only screen and (max-width: 479px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
  }
  h1, h1 a {
    line-height: 1.2em;
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.1em;
    line-height: 2em;
  }
  p, address {
    font-size: .9em;
  }
  .big-chars {
    font-size: 1.2em;
  }
  #main_header {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-bottom: 2em;
    align-content: center;
    align-items: center;
  }
  #home-grid {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 2em;
  }
  #header_content {
    padding-left: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #header_content #container {
    text-align: center;
  }
  #header_content img {
    display:none;
  }
  #image_home {
    margin: 0 0 0 1em;
  }
  #image_home img {
    width: 90%;
  }
  #main_navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: auto;
    padding-left: 0;
    left: 0;
    position: relative;
    border-bottom: 2px solid  #fff;
  }
  #main_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #main_navigation ul li {
    padding-right: 0;
    display: block;
  }
  #nav ul li {
    border-bottom: 1px solid #ccc;
    line-height: 3em;
  }
  #nav {
    width: auto;
    text-align: center;
  }
  #header {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
  }
  .news {padding: 1em 0;}
  #list-news {
    width: 85%;
  }
  #layout-post, #layout {
    overflow: auto;
    height: auto;
    width: 100%;
  }
  #layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments, #layout section#content {
    width: 85%;
  }
  #post-comments {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #layout-connexion {
    height: auto;
    overflow-y: auto;
  }
  figure#logo {
    display: none;
  }
  figure#photo img {
    width: 70%;
  }
  figcaption {
    text-align: center;
  }
  #layout-post header, #dashbord-grid header, #layout header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #posts-grid .news {
    width: 100%;
    margin: 0 1em 1em 0;
  }
  #layout-connexion {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  #layout-connexion section {
    width: 80%;
    padding: 0;
    margin: 1em;
  }
  footer {
    position: inherit;
    padding: 1em 0;
  }
  footer ul {
    margin: 0 auto;
    padding-left: 0;
  }
  form {
    padding: 0;
  }
  fieldset {
    font-size: 80%;
    width: 100%;
    overflow-x: hidden;
    display:block;
  }
  textarea {
    width: auto;
  }
  /* ******************
  ****  Backoffice ****
  ********************/
  #main_navigation_backend {
    width: 100%;
    height: auto;
    padding-bottom: 2em;
  }
  #backend_navigation {
    margin-left: 1.5em;
  }
  #dashbord-grid {
    width: 100%;
    height: auto;
    overflow: inherit;
  }
}

@media only screen and (min-width: 480px) and (max-width: 959px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
  }
  h1, h1 a {
    line-height: 1.2em;
  }
  #main_header {
    width: 100%;
    height: 100%;
    justify-content: stretch;
  }
  #home-grid {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 3em;
  }
  #header_content {
    padding-left: 2.5em;
  }
  #header_content img {
    display:none;
  }
  figure#image_home {
    display: none;
  }
  #main_navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    padding-left: 3em;
    left: 0;
    position: relative;
    border-bottom: 2px solid  #fff;
  }
  #main_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #main_navigation ul li {
    padding-right: 1em;
    display: block;
  }
  #nav ul li {
    border-bottom: 1px solid #ccc;
    line-height: 3em;
  }
  #nav ul {
    flex-direction: row;
  }
  #header {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
  }
  #list-news {
    width: 85%;
  }
  #layout-post, #layout {
    overflow: auto;
    height: auto;
    width: 100%;
  }
  #layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments, #layout section#content {
    width: 80%;
  }
  #layout-connexion {
    height: auto;
    overflow-y: auto;
  }
  figure#logo {
    display: none;
  }
  figure#logo img {
    display: none;
  }
  figure#photo img {
    width: 40%;
  }
  #layout-post header, #dashbord-grid header, #layout header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .news {padding: 2em 0;}
  #posts-grid .news {
    width: 100%;
    margin: 0 1em 1em 0;
  }
  #layout-connexion {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  #layout-connexion section {
    width: 80%;
    padding: 0 1em;
  }
  footer {
    position: inherit;
    padding: 1em 0;
  }
  footer ul {
    margin: 0 auto;
    padding-left: 0;
  }
  form {
    padding: .1em;
  }
  input, textarea {
    padding: .5em 0 .5em .5em;
  }
  /* ******************
  ****  Backoffice ****
  ********************/
  #main_navigation_backend {
    width: 100%;
    height: auto;
    padding-bottom: 2em;
  }
  #backend_navigation {
    margin-left: 4em;
  }
  #dashbord-grid {
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: inherit;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  #layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments, section#content, #layout section#content {
    width: 70%;
  }
  #main_navigation_backend {
    width: 30%;
  }
  #dashbord-grid {
    width: 70%;
  }
  #dashbord-grid > section {
    width: 80%;
  }
}


@media only screen and (min-width: 1919px) {
  body {
    font-size: 2em;
  }
  figure#logo img, figure#photo img {
    width: 100%;
  }
  #header_content img {
    width: 150px;
  }
}


@media only screen and (min-width: 2559px) {
  body {
    font-size: 2.5em;
  }
  #nav {
    font-size: .9em;
  }
  #header_content img {
    width: 170px;
  }
}

@media print {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    font-size:.8em;
    line-height: 1em;
  }
  article h2 {margin-top: 1em;}
  #main_navigation, #nav, footer, form, figure#logo, figure#photo, figure#image_home {
    display:none;
  }
  #main_header {
    width: 100%;
    height: 100%;
    justify-content: stretch;
  }
  #home-grid {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 3em;
  }
  #header_content {
    padding-left: 2.5em;
  }
  #header {
    width: 100%;
    height: 100%;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
  }
  #list-news {
    width: 85%;
  }
  #layout-post, #layout {
    overflow: auto;
    height: auto;
    width: 100%;
  }
  #layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments, #layout section#content {
    width: 80%;
  }
  #layout-connexion {
    height: auto;
    overflow-y: auto;
  }
  #layout-post header, #dashbord-grid header, #layout header {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .news {padding: 2em 0;}
  #posts-grid .news {
    width: 100%;
    margin: 0 1em 1em 0;
  }
}
