@charset "utf-8";

/* ********************

 Global

 ******************** */
*, *:before, *:after {
    outline: none;
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}
html {
    width: 100vw;
    height: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:auto;
  color: #444;
  font-size: 20px;
  line-height: 30px;
  scroll-behavior: smooth; /* Un peu de douceur dans ce monde de brute */
  /* max-height:100%; */
  overflow:hidden;
  font-family: 'Nunito Sans', Verdana, sans-serif;
}


/* ********************

 Typographie

 ******************** */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-light { color: rgba(255, 255, 255, 0.54); }


p, address {font-size:1em;line-height:1.6em;font-weight:400; color:#444;}
a {font-size:1em; line-height:1.6em;font-weight:400; color:#666;text-decoration: underline;}
a:hover {text-decoration: none;}
h2, h3, h4 {font-family: 'Spectral', Georgia, serif; color: #444;}
h1 {font-family: 'Consolas', 'Courier New', monospace;; color: #666;}
h1 {text-transform:uppercase;font-weight:800;}
h2 {font-weight:700;}
h3 {font-weight:700;}
strong {font-weight: bold; color: #EEA852;}
em {font-style: italic;}


h1, h1 a { font-size: 1.5em; line-height: 1.5em;}
h1 span, h2 span, h3 span { font-size : 60%;}
h2 { font-size: 1.4em; }
h3
{
    font-size:1.2em;
    line-height: 2.4em;
    margin-bottom:0px;
}
h2 span, h3 span, h4 span, p span {color:#777;}
.big-chars {
  font-size:1.4em;
  font-weight: 100;
  line-height: 1.5em;
  font-family: "Spectral", Georgia, serif;
}
.big-chars > span {font-size:100%;}

.list-center {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.meta-content:first-child {
  border-left: 4px solid #fbdeb9;
  padding-left: 10px;
  color: #444;
}
section {
  width:80%;
  margin: 1em auto;
}
#layout-post section#content-news, #dashbord-grid > section, #dashbord-grid section#content-news, section#content-comments {
  width:50%;
  margin: 1em auto;
}
#layout-post section {
  width:80%;
}
.news
{
  border-bottom: 1px dotted #000;
  padding: 2em 0;
}

#post-comments {
  border-top: 1px dashed #ccc;
  margin-top: 4em;
  padding-top: 2em;
}
.content-comment {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background: #eee;
}
form {
  margin: 2em auto;
  padding: 1em;
  background: rgba(100, 100, 100, 0.1);
}
fieldset {
  position: relative;
  border: none;
}
fieldset abbr {
  color: #f78686;
}
label {
  color: rgba(0, 0, 0, 0.5);
  transform-origin: left;
  transition: all 0.3s ease;
}
input, textarea {
  width: 100%;
  margin-top: 10px;
  background: rgba(100, 100, 100, 0.1);
}
input#agreement {
  width: auto;
}

#main_header {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FBDEB9;
  color: #666;
}
#main_navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #ffffff;
  width: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#main_navigation ul {
  list-style: none;
  margin: 0;
  padding:0;
}
#main_navigation ul li {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1.5em;
  margin-right:1.5em;
  padding-top: 10px;
  border-top: 4px solid #fbdeb9;
}
#main_navigation a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.button_home {
    width: 100%;
    height: 3em;
    background:  #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

#header {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  background: #FBDEB9;
  color: #666;
}
#header_content {
  padding-left: 4.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#header_content img {
  width: 100px;
  height: auto;
  margin-right:1em;
}
figure#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure#logo img {
  width: 80%;
}

#home-grid {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}
#list-news {
  width: 70%;
}
#image_home {
  display: flex;
  margin: 0 auto;
}
#image_home img {
  width: 50vw;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

#layout-post {
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow-y: scroll;
    height: 100vh;
    width: 70%;
}

#layout-connexion {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}
#layout-connexion section {
  width: 50%;
  padding: 0 3em;
}

#posts-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#posts-grid .news {
  width: 40%;
  margin: 0 3em 1em 0;
}
#layout-post #posts-grid {
  margin: 1em auto;
}


/* *************************************************************
*************************** BACKOFFICE *************************
***************************************************************/
#main_navigation_backend {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:#FBB9B9;
  color:#666;
}
#dashbord-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
}
#backend_navigation {
  width: 70%;
  display: flex;
  flex-direction: row;
  font-size: 80%;
  margin-left: 5em;
}
#backend_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 3em;
}
#backend_navigation ul li {
  display: block;
  font-size: 1.4em;
}
#backend_navigation ul .submenu {
    font-size: .7em;
    padding-left: 1.2em;
}
.admin-content {
  list-style: none;
  padding-left: 0;
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px dashed #ccc;
  font-size: .8em;
}
.admin-content li {
  display: inline-block;
  margin-right: .5em;
}
#backend_navigation ul li#title_nav {
  font-size: 3em;
  text-transform: lowercase;
  margin: .5em 0;
}

#header_dashbord {
  min-height: 20vh;
  padding: 1em 0 1em 0;
}
